@CHARSET "ISO-8859-1";



.header {
    background-color: #B5E407;
    text-align: center;
    padding: 40px 0px;
}

.topnav {
    overflow: hidden;
    background-color: #333;
    padding:0px;
}


.topnav a {
    float: left;
    display: block;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}


.topnav a:hover {
    background-color: #ddd;
    color: black;
}

.table {
	border-radius: 20px;
	padding-top:20px;
	background-color:#B5E407;
}

.container{
	 border-radius: 20px;
	 position:absolute;
     top:100px;
	 left:300px; 
     width: 700px;
     height: 400px;
     padding: 15px;
     background-color:#6A5ACD;
	
}

.container2{
		 border-radius: 20px;
	 position:absolute;
     top:100px;
	 left:300px; 
     width: 700px;
     height: 400px;
     padding: 15px;
     background-color:#6A5ACD;
	
	
}

.delete{
	 border-radius: 20px;
	 position:absolute;
     top:100px;
	 left:300px; 
     width: 700px;
     height: 400px;
     padding: 15px;
     background-color:#6A5ACD;
}
